@import "../../colors.scss";

.round-btn {
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 8px;
  min-width: 0;
  font-size: 24px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-height: 36px;
  box-sizing: border-box;
  line-height: 1.4em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  outline: none;
  position: relative;
  user-select: none;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;

  &.red {
    background-color: $accentRed;
    &:hover {
      background-color: darken($accentRed, 15%);
    }
  }
  &.blue {
    background-color: $accentBlue;
    &:hover {
      background-color: darken($accentBlue, 15%);
    }
  }

  .round-btn-icon-wrapper {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    path {
      fill: #fff;
    }
  }
}
