@import "../../colors.scss";

.day-picker {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 213px;
  height: 39px;
  margin: 8px;
  user-select: none;

  .day-dot {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: $unselectedDay;
    font-size: 11px;
    user-select: none;
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.active {
      background-color: $accentBlue;
      color: #fff;
    }
  }
}
