@import "../colors.scss";

.alarms-wrapper {
  height: calc(100% - 0.6rem);
  flex: 1;
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;

  .alarms-header {
    padding: 0 1.11111111rem;
    display: flex;
    position: relative;
    height: 2.2222222rem;
    align-items: center;
    position: relative;
    color: $primaryTypo;
    font-size: 0.722222rem;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.05555555rem;
      background: linear-gradient(
        to right,
        rgba(126, 129, 168, 0) 0%,
        rgba(181, 183, 211, 0.4) 3%,
        rgba(181, 183, 211, 0.4) 97%,
        rgba(126, 129, 168, 0) 100%
      );
    }
  }

  .alarms-main {
    display: flex;
    position: relative;
    flex: 1;

    #overlay-bottom {
      content: "";
      position: fixed;
      top: 75vh;
      left: 0;
      width: 100%;
      height: 25vh;
      z-index: 2;
      pointer-events: none;
    }

    .alarms-side-panel {
      width: 3.333333333rem;
      position: relative;
      display: flex;
      flex-direction: column;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0.05555555rem;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(126, 129, 168, 0) 0%,
          rgba(181, 183, 211, 0.4) 3%,
          rgba(181, 183, 211, 0.4) 97%,
          rgba(126, 129, 168, 0) 100%
        );
      }

      .alarm-menu-mode {
        display: flex;
        width: 3.333333333rem;
        height: 3.333333333rem;
        position: relative;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s ease-in-out;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.0555555rem;
          background: linear-gradient(
            to right,
            rgba(126, 129, 168, 0) 0%,
            rgba(181, 183, 211, 0.4) 3%,
            rgba(181, 183, 211, 0.4) 97%,
            rgba(126, 129, 168, 0) 100%
          );
        }

        &.active {
          background-color: $accentBlue;
        }
      }
    }

    .alarm-settings {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      position: relative;
      margin: 0;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0.055555555rem;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(126, 129, 168, 0) 0%,
          rgba(181, 183, 211, 0.4) 3%,
          rgba(181, 183, 211, 0.4) 97%,
          rgba(126, 129, 168, 0) 100%
        );
      }
      .list-item.header {
        justify-content: flex-start;
        color: $primaryTypo;
        font-size: 0.722222rem;
        align-items: flex-end;
        padding-bottom: 0.6111111rem;
        box-sizing: border-box;

        img {
          margin-left: 0.444444444rem;
        }
      }
      .alarm-settings-main {
        display: flex;
        flex: 1;
        position: relative;

        .alarm-settings-left {
          width: 100%; // gets overridden when expanded (collapsed on .my-alarms-container)
          flex: 1;
        }
        .alarm-settings-right {
          width: 0%; // gets overridden when expanded (collapsed on .my-alarms-container)
          transition: width 0.2s ease-out 2s;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0.0555555rem;
            height: 100%;
            background: linear-gradient(
              to bottom,
              rgba(126, 129, 168, 0) 0%,
              rgba(181, 183, 211, 0.4) 3%,
              rgba(181, 183, 211, 0.4) 97%,
              rgba(126, 129, 168, 0) 100%
            );
          }

          .alarm-settings-item {
            display: flex;
            box-sizing: border-box;
            padding: 0.3333333rem 0.9444444444rem;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;

            span:first-child {
              color: $primaryTypo;
              font-size: 0.7222222222rem;
            }
            span:nth-child(2) {
              font-size: 0.88888888rem;
              color: $accentTypo1;
            }
          }

          .vertical-day-picker-container {
            position: relative;
            height: calc(100% - 11.111111111rem);
            overflow-x: hidden;
            overflow-y: auto;
            margin-bottom: 1.0555555rem;
            padding: 1.0555555rem 0;
            .day-dot-row {
              margin-bottom: 0.7777777rem;
            }
          }
        }
      }
    }

    .my-alarms-container {
      width: calc(100% - 1.666666rem);
      display: flex;

      .alarm-settings-left {
        width: 57% !important;
      }

      .alarm-settings-right {
        width: 43% !important;
      }
    }

    .family-members-container {
      padding: 0.77777777rem;
      box-sizing: border-box;
      width: calc(100% - 3.33333rem);
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
