@import "../../colors.scss";

.toggle-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  .toggle-container {
    width: 73px;
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;

    .animated-toggle-knob-wrapper {
      color: $accentBlue;
      z-index: 1;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      display: inline-flex;
      flex: 0 0 auto;
      width: 48px;
      height: 48px;
      padding: 0;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 50%;
      align-items: center;
      cursor: pointer;
      margin: 0;
      border: 0;
      outline: none;
      position: relative;
      user-select: none;
      vertical-align: middle;
      justify-content: center;
      -moz-appearance: none;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;

      .input-wrapper {
        width: 100%;
        display: flex;
        align-items: inherit;
        justify-content: inherit;

        input[type="checkbox"] {
          top: 0;
          left: 0;
          width: 100%;
          cursor: inherit;
          height: 100%;
          margin: 0;
          opacity: 0;
          padding: 0;
          position: absolute;
          appearance: checkbox;
        }

        .toggle-knob {
          // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
          //   0px 2px 2px 0px rgba(0, 0, 0, 0.14),
          //   0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: currentColor;
          color: $toggleLeft;
        }
      }

      .pulsate-circle {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        position: absolute;
        overflow: hidden;
        border-radius: inherit;
        pointer-events: none;
      }

      &.on {
        transform: translateX(26px);

        .toggle-knob {
          color: $accentBlue;
        }
      }
    }

    .toggle-track {
      top: 50%;
      left: 50%;
      width: 50px;
      height: 24px;
      display: block;
      position: absolute;
      margin-top: -12px;
      transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      margin-left: -25px;
      border-radius: 12px;
      background-color: #000;
      opacity: 0.37;
    }
  }
  .toggle-label-text {
    color: $primaryTypo;
    margin: 0;
    display: block;
  }
}
