html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  background-image: url(./assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #7e81a8; }

.app-container {
  box-sizing: border-box;
  padding: 0.6rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .app-container .pagination-dots-container {
    position: fixed;
    z-index: 99999999;
    top: calc(100vh - 28px - 9.6px); }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.save-button {
  outline: none;
  background-color: #1964cc;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 110px;
  height: 32px;
  border-radius: 2px;
  font-size: 18px;
  margin: 22px 16px 0 16px; }
  .save-button:active {
    background-color: #134e9f; }
