html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  background-color: #15172e;
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #7e81a8; }
  body:before {
    content: "";
    position: absolute;
    background: radial-gradient(#2e2e57, transparent);
    transform: translate(-50%, -50%);
    top: 100vh;
    left: 50vw;
    height: 230vh;
    width: 300vw;
    border-radius: 50%;
    z-index: -1; }

.app-container {
  box-sizing: border-box;
  padding: 0.6rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .app-container .pagination-dots-container {
    position: fixed;
    top: calc(100vh - 28px - 9.6px); }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }
