@font-face {
  font-family: Fira Sans;
  src: url(./fonts/FiraSans-Regular.ttf); }

html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased; }

:root {
  font-size: 18px; }
  @media only screen and (device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    :root {
      font-size: 16px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  background-image: url(./assets/BackgroundGradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #7e81a8;
  cursor: url("./assets/cursor.png") 32 32, auto !important;
  cursor: -webkit-image-set(url("./assets/cursor.png") 1x, url("./assets/cursor@2x.png") 2x) 32 32, auto !important; }
  body:active {
    cursor: url("./assets/cursor-active.png") 32 32, auto !important;
    cursor: -webkit-image-set(url("./assets/cursor-active.png") 1x, url("./assets/cursor-active@2x.png") 2x) 32 32, auto !important; }

.app-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .app-container .pagination-dots-container {
    position: fixed;
    z-index: 99999999;
    top: calc(100vh - 1.555555rem - 0.533333333rem); }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.save-button {
  outline: none;
  background-color: #1964cc;
  color: #fff;
  border: 0.11111rem solid rgba(255, 255, 255, 0.1);
  width: 6.1111111rem;
  height: 1.77777777rem;
  border-radius: 0.111111rem;
  font-size: 1rem;
  margin: 1.22222222rem 0.8888888rem 0 0.8888888rem; }
  .save-button:active {
    background-color: #134e9f; }

.ReactModal__Overlay {
  background-color: rgba(21, 23, 46, 0.8) !important; }

.modal-content {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 1.1111111rem;
  overflow: hidden; }
  .modal-content .modal-head-content {
    width: 100%;
    position: relative; }
    .modal-content .modal-head-content h4 {
      font-size: 0.7222222rem;
      font-weight: 300;
      margin: 0; }
    .modal-content .modal-head-content p {
      margin: 0;
      color: #fff;
      font-size: 2rem; }
  .modal-content button {
    align-self: center;
    z-index: 2;
    bottom: 1.1111111rem;
    left: calc(50% - (6.111111rem / 2));
    position: absolute; }
  .modal-content .selection-wheel-container {
    position: absolute;
    top: 44%;
    width: 15.888888rem;
    height: 15.888888rem;
    left: 22%; }
    .modal-content .selection-wheel-container img {
      width: 100%;
      height: 100%; }
    .modal-content .selection-wheel-container:after {
      content: "";
      position: absolute;
      top: 0;
      width: 1.05555555rem;
      height: 1.5994444rem;
      left: 50%;
      background-image: url("./assets/pin.svg");
      transform: translate(-50%, -110%); }
  .modal-content:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 19%;
    width: 100%;
    box-shadow: 0.05555555rem -0.6666666rem 0.16666666rem 0 #2e2e57f0;
    background-color: #2e2e57; }

input[type="text"] {
  width: 100%;
  padding: 0.3333333rem 0 0.38888888rem;
  border-width: 0 0 0.055555555rem 0;
  border-color: #696c8c;
  color: #fff;
  background-color: transparent;
  outline: none;
  font-size: 0.88888888rem;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); }

label {
  color: #696c8c;
  font-size: 0.722222rem;
  visibility: visible !important; }
